- if item.status == 0
  - path_name = item_path(item.id)
  - time_display = elapsed_time(item.created_at)
- else
  - path_name = item_order_path(item.id, item.order.id)
  - time_display = elapsed_time(item.order.created_at)

= link_to path_name, class: :info__content do
  .info__content-left
    = image_tag item.images.first.url.url, class: 'mypage-logo-icon'
  .info__content-right
    .info-message
      = body
      - if price != ""
        %br= price
    .info-data
      = time_display
