.mypage-nav-bar
  %ul
    %li 
      = link_to 'FURIMA', root_path, class:"mypage-nav-bar--link"
    %li ＞
    %li マイページ

.mypage
  .mypage__area
    .mypage__content
      .mypage--left
        = render 'users/side-bar'
      .mypage__right
        .mypage__right--innr
          .mypage__right--upper
            .mypage__user-icon
              = image_tag 'icon/member_photo_noimage_thumb.png', class: 'mypage-user-image'
              .mypage__user-name
                ニックネーム
              .mypage__user-status
                評価
                %span 0
                出品数
                %span 0
          .mypage__container
            .mypage__container--tab
              .mypage__container--tab--left
                お知らせ
              .mypage__container--tab--right
                やることリスト
            .mypage__container--info
              .info__content
                .info__content-left
                  = image_tag 'logo/logo_icon.png', class: 'mypage-logo-icon'
                .info__content-right
                  .info-message
                    事務局から個別メッセージ「ログイン通知」
                  .info-data
                    24時間前
              .info__content
                .info__content-left
                  = image_tag 'logo/logo_icon.png', class: 'mypage-logo-icon'
                .info__content-right
                  .info-message
                    事務局から個別メッセージ「ログイン通知」
                  .info-data
                    24時間前
            .mypage__container--lower
              .info-index-btn 一覧を見る
          .mypage__purchased-item
            .mypage__purchased-item--title
              購入した商品
            .mypage__container--tab
              .mypage__container--tab--left
                取引中
              .mypage__container--tab--right
                過去の取引
            .mypage__purchased-item--info
              .mypage__purchased-item--info--text
            .mypage__container--lower
              .info-index-btn 一覧を見る
