.buy-confirm
  %h2.buy-confirm__buy-head
    購入内容の確認
  %section.buy-confirm__buy-item
    .buy-confirm__buy-item__inner
      .buy-confirm__buy-item__inner__item-box
        .buy-confirm__buy-item__inner__item-box__image
          = image_tag "#{@item.images.first.url}", size: "200×200", class: 'image'
        .buy-confirm__buy-item__inner__item-box__detail
          .buy-confirm__buy-item__inner__item-box__detail__name
            = @item.name
          .buy-confirm__buy-item__inner__item-box__detail__price
            %span
              ¥
              = @item.price.to_s(:delimited, delimiter: ',')
              (税込)
  %section.buy-confirm__buy-item2
    .buy-confirm__buy-item2__inner
      %form.buy-confirm__buy-item2__inner__form
        %li.buy-confirm__buy-item2__inner__form__price-table
          %ul.buy-confirm__buy-item2__inner__form__price-table__row
            .buy-confirm__buy-item2__inner__form__price-table__row__cell
              支払い金額
            .buy-confirm__buy-item2__inner__form__price-table__row__cell2
              %span
              ¥
              = @item.price.to_s(:delimited, delimiter: ',')
              (税込)
              - if @delivery.fee_burden_before_type_cast == 0
                送料込み
              - else
                ＋(送料)                
          .buy-confirm__buy-item2__inner__form__user-info
            = form_with url: new_item_order_path do
              :plain
                <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_cd1c7e8dc721deb4e7542918" data-text="購入する" data-submit-text="購入する"></script>
            -# 挙動確認のテスト用コードのため、以下、コメントアウト
            -# = link_to item_orders_path(@item), method: :post, class: :"buy-confirm__buy-item2__inner__form__user-info__btn-link", data: {confirm: "購入しますか？"} do
            -#   .buy-confirm__buy-item2__inner__form__user-info__btn-default 購入する
