.exhibition
  .exhibition-main
    = form_for @item do |f|
      .exhibition-box
        .exhibition-box__title
          %span 商品画像
          %span.exhibition-box__title--must 必須
        .exhibition-box__title--limit 最大10枚までアップロードできます
        .exhibition-box__upload
          .exhibition-box__image#previews
            - if @item.persisted?
              - @item.images.each_with_index do |image, i|
                .preview-box{data: {index: i}}
                  = image_tag image.url.url, class: :"upper-box", data: {index: i}
                  .delete-box 削除
            .exhibition-box__previews
              %label{for: "item_images_attributes_0_url", class: "label-box", id: "label-box--0"}
                .label-box__text-visible クリックしてファイルをダウンロード
          .hidden-content#image-box
            = f.fields_for :images do |i|
              .js-file_group{data: {box: "#{i.index}"}}
                = i.file_field :url, class: "hidden-field"
      .exhibition-box
        .exhibition-box__title
          %span 商品名
          %span.exhibition-box__title--must 必須
        = f.text_field :name, class: :'exhibition-box__text', placeholder: '40文字まで'
        .exhibition-box__title.exhibition-box__title--continue
          %span 商品の説明
          %span.exhibition-box__title--must 必須
        = f.text_area :text, class: :'exhibition-box__text exhibition-box__text--description', placeholder: '商品の説明（必須1,000文字以内)&#13;&#10; (色、素材、重さ、定価、注意点など）&#13;&#10;&#13;&#10; 例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'.html_safe
      .exhibition-box
        .exhibition-box__section 商品の詳細
        .exhibition-box__title.exhibition-box__title--continue
          %span カテゴリー
          %span.exhibition-box__title--must 必須
        = f.collection_select :category_id, Category.all, :id, :category, { prompt: '選択して下さい' }, { class: 'exhibition-box__text' }
        .exhibition-box__title.exhibition-box__title--continue
          %span サイズ
          %span.exhibition-box__title--must 必須
        = f.collection_select :size_id, Size.all, :id, :kind_size, { prompt: '選択して下さい' }, { class: 'exhibition-box__text' }
        .exhibition-box__title.exhibition-box__title--continue
          %span ブランド
          %span.exhibition-box__title--free 任意
        = f.text_field :brand_name, class: :'exhibition-box__text', placeholder: 'ブランド名を入力して下さい'
        .exhibition-box__title.exhibition-box__title--continue
          %span 商品の状態
          %span.exhibition-box__title--must 必須
        = f.select :condition, Item.conditions.keys, {prompt: '選択してください'}, class: :'exhibition-box__text'
      .exhibition-box
        = f.fields_for :delivery do |delivery|
          .exhibition-box__section 配送について
          .exhibition-box__title.exhibition-box__title--continue
            %span 配送料の負担
            %span.exhibition-box__title--must 必須
          = delivery.select :fee_burden, Delivery.fee_burdens.keys, {prompt: '選択してください'}, class: :'exhibition-box__text'
          .exhibition-box__title.exhibition-box__title--continue
            %span 配送の方法
            %span.exhibition-box__title--must 必須
          = delivery.select :service, Delivery.services.keys, {prompt: '選択してください'}, class: :'exhibition-box__text'
          .exhibition-box__title.exhibition-box__title--continue
            %span 発送元の地域
            %span.exhibition-box__title--must 必須
          = delivery.select :area, Delivery.areas.keys, {prompt: '選択してください'}, class: :'exhibition-box__text'
          .exhibition-box__title.exhibition-box__title--continue
            %span 発送までの日数
            %span.exhibition-box__title--must 必須
          = delivery.select :handling_time, Delivery.handling_times.keys, {prompt: '選択してください'}, class: :'exhibition-box__text'
      .exhibition-box
        .exhibition-box__section 価格（¥300〜9,999,999)
        .exhibition-box__horizontal
          .exhibition-box__title.exhibition-box__title--left
            %span 販売金額
            %span.exhibition-box__title--must 必須
          = f.number_field :price, class: :'exhibition-box__text exhibition-box__text--right'
        .exhibition-box__horizontal
          .exhibition-box__title.exhibition-box__title--left
            %span 販売手数料（10％）
          .exhibition-box__text.exhibition-box__text--calc
            - if @item.blank?
              - input = @item.price
              - charge = (input * 0.1).floor
            - else
              - input = 0
              - charge = 0
            = "¥#{charge}"
        .exhibition-box__horizontal
          .exhibition-box__title.exhibition-box__title--left
            %span 販売利益
          .exhibition-box__text.exhibition-box__text--calc
            = "¥#{input - charge}"
      .exhibition-box
        .exhibition-box__button
          = f.submit submit_value, class: :"exhibition-box__button--submit"
        = link_to "もどる", root_path, class: :"exhibition-box__button exhibition-box__button--link"
        .exhibition-box__attention
          禁止されている<font color="#3CCACE">行為</font>および<font color="#3CCACE">出品物</font>を必ずご確認ください。
          <font color="#3CCACE">偽ブランド品</font>や<font color="#3CCACE">盗品物</font>などの販売は犯罪であり、<span color="red">法律</span>により処罰される可能性があります。 
          また、出品をもちまして<font color="#3CCACE">加盟店規約</font>に同意したことになります。
