-# 商品一覧表示
- @items.each do |item|
  .product-list
    = link_to item_path(item.id), class: "product-list__img" do
      = image_tag item.images.first.url.url, alt: "商品画像"
      - if item.status == 1  # 売買状態が、売却済みの場合
        .product-list__img--sold
      .product-list__body
        .product-list__body__name
          = item.name
        .product-list__body__detail
          %ul
            %li= "#{item.price}円"
            %li
              = icon('fa', 'star')
              = Like.where(item_id: item.id).count
          %p (税込)
