.exhibition
  .exhibition__top
    = image_tag "logo.png", width: "150", height: "50", alt: "logo"
    .exhibition__top__logo
  .exhibition__main
    .exhibition__main_form
      .exhibition__main__form__image
        .exhibition__main__form__image__title
          商品画像
          %span.must
            必須
          %P<>
          %span.limit
            最大１０枚までアップロードできます
        .exhibition__main__form__image__upload
          .exhibition__main__form__image__upload__image
            = image_tag "icon_camera.png", width: "30", height: "30", class: "camera", alt: "camera"
          .exhibition__main__form__image__upload__image
            = image_tag "icon_camera.png", width: "30", height: "30", class: "camera", alt: "camera"
          .exhibition__main__form__image__upload__image
            = image_tag "icon_camera.png", width: "30", height: "30", class: "camera", alt: "camera"
          .exhibition__main__form__image__upload__image
            = image_tag "icon_camera.png", width: "30", height: "30", class: "camera", alt: "camera"
          .exhibition__main__form__image__upload__image
            = image_tag "icon_camera.png", width: "30", height: "30", class: "camera", alt: "camera"
          .exhibition__main__form__image__upload__image
            = image_tag "icon_camera.png", width: "30", height: "30", class: "camera", alt: "camera"
          .exhibition__main__form__image__upload__image
            = image_tag "icon_camera.png", width: "30", height: "30", class: "camera", alt: "camera"
          .exhibition__main__form__image__upload__image
            = image_tag "icon_camera.png", width: "30", height: "30", class: "camera", alt: "camera"
          .exhibition__main__form__image__upload__image
            = image_tag "icon_camera.png", width: "30", height: "30", class: "camera", alt: "camera"
          .exhibition__main__form__image__upload__image
            = image_tag "icon_camera.png", width: "30", height: "30", class: "camera", alt: "camera"
      .exhibition__main__form__name
        .exhibition__main__form__name__title
          商品名
          %span.must
            必須
        .exhibition__main__form__name__text
          %input.exhibition__main__form__name__text{placeholder: "  40文字まで", type: "name"}
      .exhibition__main__form__info
        .exhibition__main__form__info__title
          商品の説明
          %span.must
            必須
        .exhibition__main__form__info__text
          %textarea.exhibition__main__form__info__text{name: "info-text", cols:"27", rows:"6", placeholder: "  商品の説明（必須1,000文字以内)&#13;&#10; (色、素材、重さ、定価、注意点など）&#13;&#10;&#13;&#10; 例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。".html_safe} 
      .exhibition__main__form__detail
        商品の詳細
        .exhibition__main__form__detail__category
          .exhibition__main__form__detail__category__title
            カテゴリー
            %span.must
              必須
          .exhibition__main__form__detail__category__text
            %input.exhibition__main__form__detail__category__text{placeholder: "  選択して下さい", type: "text"}
          .exhibition__main__form__detail__category__text
            %input.exhibition__main__form__detail__category__text{placeholder: "  選択して下さい", type: "text"}
          .exhibition__main__form__detail__category__text
            %input.exhibition__main__form__detail__category__text{placeholder: "  選択して下さい", type: "text"}
        .exhibition__main__form__detail__size
          .exhibition__main__form__detail__size__title
            サイズ
            %span.must
              必須
          .exhibition__main__form__detail__size__text
            %input.exhibition__main__form__detail__category__text{placeholder: "  選択して下さい", type: "text"}
        .exhibition__main__form__detail__brand
          .exhibition__main__form__detail__brand__title
            ブランド
            %span.free
              任意
          .exhibition__main__form__detail__brand__text
            %input.exhibition__main__form__detail__category__text{placeholder: "  例）シャネル", type: "text"}
        .exhibition__main__form__detail__condition
          .exhibition__main__form__detail__condition__title
            商品の状態
            %span.must
              必須
          .exhibition__main__form__detail__comdition__text
            %input.exhibition__main__form__detail__category__text{placeholder: "  選択して下さい", type: "text"}
      .exhibition__main__form__delivery
        配送について
        .exhibition__main__form__delivery__fee
          .exhibition__main__form__delivery__fee__title
            配送料の負担
            %span.must
              必須
          .exhibition__main__form__delivery__fee__text
            %input.exhibition__main__form__detail__category__text{placeholder: "  選択して下さい", type: "text"}
        .exhibition__main__form__delivery__service
          .exhibition__main__form__delivery__service__title
            配送の方法
            %span.must
              必須
          .exhibition__main__form__delivery__service__text
            %input.exhibition__main__form__detail__category__text{placeholder: "  選択して下さい", type: "text"}
        .exhibition__main__form__delivery__area
          .exhibition__main__form__delivery__area__title
            発送元の地域
            %span.must
              必須
          .exhibition__main__form__delivery__area__text
            %input.exhibition__main__form__detail__category__text{placeholder: "  選択して下さい", type: "text"}
        .exhibition__main__form__delivery__handlingtime
          .exhibition__main__form__delivery__handlingtime__title
            発送までの日数
            %span.must
              必須
          .exhibition__main__form__delivery__handlingtime__text
            %input.exhibition__main__form__detail__category__text{placeholder: "  選択して下さい", type: "text"}
      .exhibition__main__form__price
        価格（¥300〜9,999,999)
        .exhibition__main__form__price__amount
          .exhibition__main__form__price__amount__title
            販売金額  
            %span.must
              必須
          .exhibition__main__form__price__amount__text
        .exhibition__main__form__price__fee
          .exhibition__main__form__price__fee__title
            販売手数料（10％）
          .exhibition__main__form__price__fee__text
        .exhibition__main__form__price__gains
          .exhibition__main__form__price__gains__title
            販売利益
          .exhibition__main__form__price__gains__text
      .exhibition__main__form__submit
        %input.exhibition__main__form__submit__exhibition{type:"submit", value:"出品する"}
        .exhibition__main__form__submit__return
          = link_to 'もどる', "#", class: "return"
        .exhibition__main__form__submit__attention
          %span.black<>
            禁止されている
          %span.blue<>
            行為
          %span.black<>
            および
          %span.blue<>
            出品物
          %span.black<>
            を必ずご確認ください。
          %span.blue<>
            偽ブランド品
          %span.black<>
            や
          %span.blue<>
            盗品物
          %span.black<>
            などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
          %span.blue<>
            加盟店規約
          %span.black<>
            に同意したことになります。
  .exhibition__bottom
    .exhibition__bottom__policy
      .exhibition__bottom__policy__praivacy
        プライバシーポリシー
      .exhibition__bottom__policy__rules
        フリマ利用規約
      .exhibition__bottom__policy__notation
        特定商取引に関する表記
    .exhibition__bottom__logo
      = image_tag "logo-white.png", width: "150", height: "50", alt: "logo-white"
    .exhibition__bottom__company-name
      ©FURIMA,inc