.details
  .detail-box
    .detail-box-heading
      = @item.name
    .detail-box-photo
      = image_tag @item.images.first.url.url, alt: 'main_photo', class: :"detail-box-photo__main"
      .detail-box-photo__sub
        - @item.images.each do |image|
          = image_tag image.url.url, alt: 'sub_photo', class: :"detail-box-photo__tmb"
    .detail-box-price
      .detail-box-price__main
        = "¥#{@item.price}"
      .detail-box-price__sub
        - if @item.delivery.fee_burden_before_type_cast == 0
          (税込) 送料込み
        - else
          (税込) 着払い
    .detail-box-action
      - if @item.status != 0
        .detail-box-action__button.detail-box-action__button--sold 売り切れました
      - elsif user_signed_in?
        - if current_user.id == @item.user_id
          = link_to edit_item_path(@item), class: :"detail-box-action__link" do
            .detail-box-action__button 商品の編集
          = link_to item_path(@item), method: :delete, class: :"detail-box-action__link", data: {confirm: "削除しますか？"} do
            .detail-box-action__button.detail-box-action__button--gray この商品を削除する
        - else
          = link_to new_item_order_path(@item), class: :"detail-box-action__link" do
            .detail-box-action__button 購入画面に進む
    .detail-box-description
      .detail-box-description__header
        = @item.text
      %table.detail-box-table
        %tr
          %th.detail-box-table__th 出品者
          %td.detail-box-table__td
            = @item.user.nickname
        %tr
          %th.detail-box-table__th カテゴリー
          %td.detail-box-table__td
            = link_to '#', class: :"detail-box-table__link" do
              %div
                = @item.category.category
        %tr
          %th.detail-box-table__th ブランド
          %td.detail-box-table__td
            = @item.brand_name
        %tr
          %th.detail-box-table__th 商品のサイズ
          %td.detail-box-table__td
            = @item.size_id != nil ? @item.size.kind_size : "—"
        %tr
          %th.detail-box-table__th 商品の状態
          %td.detail-box-table__td
            = @item.condition
        %tr
          %th.detail-box-table__th 配送料の負担
          %td.detail-box-table__td
            = @item.delivery.fee_burden
        %tr
          %th.detail-box-table__th 発送元の地域
          %td.detail-box-table__td
            = link_to '#', class: :"detail-box-table__link" do
              %div
                = @item.delivery.area
        %tr
          %th.detail-box-table__th 発送日の目安
          %td.detail-box-table__td
            = @item.delivery.handling_time
    .detail-box-button-container
      %button{type: :button, name: :bookmark, class: :"detail-box-button-container__bookmark"}
        = icon 'fa', 'star'
        お気に入り 0
      = link_to '#', class: :"detail-box-button-container__report" do
        = icon 'fa', 'flag'
        不適切な商品の通報
  = form_with(url: '#', local: true, method: :get, class: :"detail-comment") do |f|
    = f.text_area :comment, class: :"detail-comment__textbox"
    .detail-comment__notice
      相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .detail-comment__button
      %button{type: :submit, class: :"detail-comment__submit"}
        = icon 'fa', 'comment'
        コメントする
  .detail-link
    = link_to '#', class: :"detail-link__text" do
      = icon 'fa', 'angle-left'
      前の商品
    = link_to '#', class: :"detail-link__text" do
      次の商品
      = icon 'fa', 'angle-right'
  .detail-category-items
    .detail-category-items__head
      = link_to '家電・スマホ・カメラをもっと見る', '#', class: :"detail-category-items__link"
    .detail-category-items__container
      = link_to item_path(1), class: :"detail-category-items__box" do
        = image_tag '/temp/a001.png', alt: 'main_photo', class: :"detail-category-items__photo"
        .detail-category-items__content
          .detail-category-items__content--name Curry Rice
          .detail-category-items__content--price ¥880
      = link_to item_path(1), class: :"detail-category-items__box" do
        = image_tag '/temp/a001.png', alt: 'main_photo', class: :"detail-category-items__photo"
        .detail-category-items__content
          .detail-category-items__content--name Curry Rice
          .detail-category-items__content--price ¥880
      = link_to item_path(1), class: :"detail-category-items__box" do
        = image_tag '/temp/a001.png', alt: 'main_photo', class: :"detail-category-items__photo"
        .detail-category-items__content
          .detail-category-items__content--name Curry Rice
          .detail-category-items__content--price ¥880
      = link_to item_path(1), class: :"detail-category-items__box" do
        = image_tag '/temp/a001.png', alt: 'main_photo', class: :"detail-category-items__photo"
        .detail-category-items__content
          .detail-category-items__content--name Curry Rice
          .detail-category-items__content--price ¥880
